# Common files should be reviewed by @Samsung/TizenFX_admin
/build/      @Samsung/TizenFX_admin
/packaging/  @Samsung/TizenFX_admin
/pkg/        @Samsung/TizenFX_admin
/tools/      @Samsung/TizenFX_admin

# Essential
/src/Tizen/                       @Samsung/TizenFX_admin
/src/Tizen.Log/                   @hyotaekshim

# ElmSharp
/src/ElmSharp*/                   @rookiejava @myroot @arosis78 @jkpu @hj-na-park @idkiller
/test/ElmSharp*/                  @rookiejava @myroot @arosis78 @jkpu @hj-na-park @idkiller

# Account
/src/Tizen.Account.*/             @titicoco @seogii @IckheeWoo

# Application
/src/Tizen.Applications.*/        @semun-lee @linuxias @pjh9216 @sukhyungkang

# Content
/src/Tizen.Content.Download/      @taesubkim @chleun-moon @jeik01
/src/Tizen.Content.MediaContent/
/src/Tizen.Content.MimeType/      @semun-lee @linuxias @pjh9216 @sukhyungkang

# Context
/src/Tizen.Context/

# Location
/src/Tizen.Location*/             @chanywa @jomui
/src/Tizen.Maps/                  @chanywa @jomui

# Messaging
/src/Tizen.Messaging.Push/
/src/Tizen.Messaging/

# Multimedia
/src/Tizen.Multimedia*/           @coderhyme @hsgwon

# NUI
/src/Tizen.NUI*/                  @hyunjushin @dongsug-song
/test/NUI*/                       @hyunjushin @dongsug-song

# Network
/src/Tizen.Network.Bluetooth/
/src/Tizen.Network.Connection/    @taesubkim @chleun-moon @jeik01
/src/Tizen.Network.Nsd/           @taesubkim @chleun-moon @jeik01
/src/Tizen.Network.WiFi/          @taesubkim @chleun-moon @jeik01
/src/Tizen.Network.WiFiDirect/    @taesubkim @chleun-moon @jeik01
/src/Tizen.Network.Smartcard/     @saerome
/src/Tizen.Network.Nfc/           @saerome
/src/Tizen.Network.IoTConnectivity/

# Pims
/src/Tizen.PhonenumberUtils/
/src/Tizen.Pims.Calendar/
/src/Tizen.Pims.Contacts/

# Security
/src/Tizen.Security*/             @terry2000s

# System
/src/Tizen.Sensor/
/src/Tizen.System*/               @prjung @hyotaekshim

# Tracer
/src/Tizen.Tracer/

# UiX
/src/Tizen.Uix.InputMethod*/      @psw0405
/src/Tizen.Uix.Stt*/              @stomHwang @urmain @syeonholic @seongraejoo
/src/Tizen.Uix.Tts*/              @stomHwang @urmain @syeonholic @seongraejoo
/src/Tizen.Uix.VoiceControl/      @stomHwang @urmain @syeonholic @seongraejoo

# WebView
/src/Tizen.WebView/               @younghajung @djmixkim



