:root {
  --header-bg-color: #005;
}

.tz_multiple_items > span {
  margin-right: 10px;
  background-color: #ccc;
}

.decalaration, .parameters, .returns, .typeParameters, .fieldValue, .propertyValue, .eventType, .overrides, .exceptions {
  color: #777;
}

.container {
  width: calc(100% - 10vw);
}

.sidetoc {
  width: 350px;
}

.sidefilter {
  width: 350px;
}

.toc .level1 > li {
  font-size: 14px;
}

.article.grid-right {
  margin-left: 360px;
}

@media only screen and (max-width: 768px) {
  .article.grid-right {
    margin-left: 0;
  }
}
