@charset "UTF-8";
/* CSS Document */
#testcasepage div,#testcasepage h1,#testcasepage p,#testcasepage table,#testcasepage tr,#testcasepage th,#testcasepage td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 0.96em;
	font-family: arial;
	vertical-align: baseline;
}

#title td, #btc td{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 0.96em;
	font-family: arial;
	vertical-align: baseline;
}

td.Ratio {
	text-align: left;
	font-weight: normal;
	padding: 4px 10px 4px 5px;
	vertical-align: middle;
}

th.Ratio {
	width: 400px;
}

#testcasepage p {
	text-align: left;
}

#suite_title {
	text-align: left;
}

#btc {
	text-align: right;
}

#btc table {
	position: absolute;
	right: 0px;
	width: 600px;
}

#testcasepage table {
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 1.4em;
	vertical-align: middle;
}

#testcasepage th,#testcasepage td {
	text-align: left;
	font-weight: normal;
	padding: 4px 10px 4px 5px;
	vertical-align: middle;
}

#cases table {
	width: 101%;
}

#cases td {
	border-left: 0px;
	font-weight: normal;
	border-bottom: 0px;
}

#suite_summary table {
	width: 100%;
}


#overview table {
	width: 101%;
}

#overview table, #overview td, #overview tr {
	border-left: none;
	border-bottom: none;
	border-right: none;
	vertical-align: top;
}

#overview td{
	width: 50%;
}

#capability table {
	width: 50%;
}

#fail_cases table {
	width: 101%;
}

#title table {
	width: 101%;
}

#device table {
	width: 100%;
}

#summary table {
	width: 100%;
}

#testcasepage th {
	border-bottom: 1px solid #000;
	background-color: #AAAAAA;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	color: #000;
	font-weight: bold;
	vertical-align: bottom;
}

#summary th:last-child,#summary td:last-child, #device th:last-child,#device td:last-child, #suite_summary th:last-child,#suite_summary td:last-child,#cases th:last-child,#cases td:last-child,#capability th:last-child,#capability td:last-child {
	border-right: 1px solid #000;
}

#testcasepage td {
	font-weight: normal;
}

#summary td, #device td, #capability td, #suite_summary td, #cases td{
	border-left: 1px solid;
	font-weight: normal;
	border-bottom: 1px solid;
}

#testcasepage td.yellow_rate {
	background-color: #ffcc00;
}

#testcasepage td.green_rate {
	background-color: #1E90FF;
}

#testcasepage td.dgreen_rate {
	background-color: #339933;
}

#testcasepage td.red_rate {
	background-color: #FF3333;
}

#testcasepage td.orange_rate {
	background-color: #FFA500;
}

#testcasepage td.gray_rate {
	background-color: #AAAAAA;
}

#title table,#title tr,#title td {
	border-left: none;
	border-bottom: none;
	text-align: center;
}

#title td:last-child {
	border-right: none;
}

#testcasepage h1 {
	font-size: 2em;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	color: #000;
	margin-bottom: 0.75em;
	padding-top: 0.25em;
	font-weight: bold;
}

#goTopBtn {
	right: 0px;
	bottom: 0px;
	position: fixed; +
	position: absolute;
	top: expression(parseInt(document.body.scrollTop)+document.body.clientHeight-40
		);
}
